$blue-vue:       #35495e;
$green-vue:      #42b883;
$violet:         #af00cd;
$gray:           #7f7f7f;
$gray-darken-1:  #545454;
$gray-lighten-1: #b3b3b3;
$gray-lighten-2: #f9f9f9;

$breakpoint-large: 900px;